@font-face {
    font-family: Inter_Bold;
    src: url(../font/Inter_Bold.ttf);
}

@font-face {
    font-family:Poppins-SemiBold;
    src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family:Poppins-Regular;
    src: url(../font/Poppins-Regular.ttf);
}
.oneplatform-heading{
    font-size: 42px;
    font-family: Poppins-SemiBold;
    text-align: center;
}
.oneplatform-description{
    font-size: 24px;
    font-family: Poppins-Regular;
    text-align: center;
}
.oneplatform-wrap{
    margin: 100px 0px;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0px 50px;
    overflow: hidden;
}

.oneplatform-list{
    list-style: none;
}

.oneplatform-part-1{
    display: grid;
    align-items: center;
}
.oneplatform-list li{
    margin: 50px 0px;
    font-family: Inter_Bold;
    font-size: 32px;
    cursor: pointer; 
}

.oneplatform-preview{
    height: 840px;
    width: 840px;
    background-color: #d8f4ff;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    overflow: hidden;
}

.oneplatform-preview-outer{
    height: 926px;
    width: 428px;
    background-color: black;
    border-radius: 20px;
    margin-top: 100px;
    padding: 20px;
}

.oneplatform-preview-inner-1 {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #d8f4ff;
  background-size: 117%;
  background-position: center -38px;
  background-repeat: no-repeat;
  
  /* 👇 animation */
  animation: changeBg1 14s steps(1) infinite; /* 7 images × 3s each = 21s */
}

@keyframes changeBg1 {
  0%   { background-image: url("../img/Tip/1.jpg"); }
  14%  { background-image: url("../img/Tip/2.jpg"); }
  28%  { background-image: url("../img/Tip/3.jpg"); }
  42%  { background-image: url("../img/Tip/4.jpg"); }
  57%  { background-image: url("../img/Tip/5.jpg"); }
  71%  { background-image: url("../img/Tip/6.jpg"); }
  85%  { background-image: url("../img/Tip/7.jpg"); }
  100% { background-image: url("../img/Tip/1.jpg"); } /* loop back */
}


.oneplatform-preview-inner-2 {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #d8f4ff;
  background-size: 117%;
  background-position: center -38px;
  background-repeat: no-repeat;
  
  /* 👇 animation */
  animation: changeBg2 8s steps(1) infinite; /* 7 images × 3s each = 21s */
}

@keyframes changeBg2 {
  0%   { background-image: url("../img/rewards/1.jpg"); }
  35%  { background-image: url("../img/rewards/2.jpg"); }
  70%  { background-image: url("../img/rewards/3.jpg"); }
  100%  { background-image: url("../img/rewards/4.jpg"); }
}

.oneplatform-preview-inner-3 {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #d8f4ff;
  background-size: 117%;
  background-position: center -38px;
  background-repeat: no-repeat;
  
  /* 👇 animation */
  animation: changeBg3 6s steps(1) infinite; /* 7 images × 3s each = 21s */
}

@keyframes changeBg3 {
  0%   { background-image: url("../img/Merchant/1.jpg"); }
  50%  { background-image: url("../img/Merchant/2.jpg"); }
  100%  { background-image: url("../img/Merchant/3.jpg"); }
}

.oneplatform-preview-inner-4 {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #d8f4ff;
  background-size: 117%;
  background-position: center -38px;
  background-repeat: no-repeat;
  
  /* 👇 animation */
  animation: changeBg4 8s steps(1) infinite; /* 7 images × 3s each = 21s */
}

@keyframes changeBg4 {
  0%   { background-image: url("../img/Tokn/1.jpg"); }
  33%  { background-image: url("../img/Tokn/2.jpg"); }
  66%  { background-image: url("../img/Tokn/3.jpg"); }
  100%  { background-image: url("../img/Tokn/4.jpg"); }
   /* loop back */
}

@media (max-width:1300px) and (min-width:1024px){
    .oneplatform-preview{
    height: 640px;
    width: 640px;
    background-color: #d8f4ff;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    overflow: hidden;
}

.oneplatform-preview-outer{
    height: 726px;
    width: 328px;
    background-color: black;
    border-radius: 20px;
    margin-top: 100px;
    padding: 16px;
}

}


@media (max-width:1024px) and (min-width:600px){

    .oneplatform-heading{
    font-size: 35px;
    font-family: Poppins-SemiBold;
    text-align: center;
}
.oneplatform-description{
    font-size: 17px;
    font-family: Poppins-Regular;
    text-align: center;
}

    .oneplatform-preview{
    height: 440px;
    width: 440px;
    background-color: #d8f4ff;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    overflow: hidden;
}

.oneplatform-preview-outer{
    height: 526px;
    width: 228px;
    background-color: black;
    border-radius: 20px;
    margin-top: 60px;
    padding: 16px;
}

.oneplatform-list li{
    margin: 50px 0px;
    font-family: Inter_Bold;
    font-size: 18px;
    cursor: pointer; 
}

.oneplatform-wrap{
    padding: 0px 0px;
}

}


@media (max-width:600px){

    .oneplatform-wrap{
        grid-template-columns: 100%;
        margin: 30px 0px;
    }
     .oneplatform-heading{
    font-size: 24px;
    font-family: Poppins-SemiBold;
    text-align: center;
}
.oneplatform-description{
    font-size: 15px;
    font-family: Poppins-Regular;
    text-align: center;
}
 .oneplatform-part-2{
    display: flex;
    width: 100%;
    justify-content: center;
 }
    .oneplatform-preview{
    margin-top:30px ;
    height: 80%;
    max-width:320px;
    background-color: #d8f4ff;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    overflow: hidden;
}

.oneplatform-preview-outer{
    height: 276px;
    width: 118px;
    background-color: black;
    border-radius: 10px;
    margin-top: 40px;
    padding: 6px;
}
.oneplatform-list{
    display: flex;
    justify-content: space-between;
    gap:10px;
}
.oneplatform-list li{
    margin: 20px 0px;
    font-family: Inter_Bold;
    font-size: 12px;
    cursor: pointer; 
}
.active{
 border-bottom: 2px solid #3b2b98;
}

.oneplatform-wrap{
    padding: 0px 0px;
}
.oneplatform-preview-inner-1 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #d8f4ff;
  background-size: 117%;
  background-position: center -10px;
  background-repeat: no-repeat;
  
  /* 👇 animation */
  animation: changeBg1 14s steps(1) infinite; /* 7 images × 3s each = 21s */
}

.oneplatform-preview-inner-2 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #d8f4ff;
  background-size: 117%;
  background-position: center -10px;
  background-repeat: no-repeat;
  
  /* 👇 animation */
  animation: changeBg2 8s steps(1) infinite; /* 7 images × 3s each = 21s */
}

.oneplatform-preview-inner-3 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #d8f4ff;
  background-size: 117%;
  background-position: center -10px;
  background-repeat: no-repeat;
  
  /* 👇 animation */
  animation: changeBg3 6s steps(1) infinite; /* 7 images × 3s each = 21s */
}

.oneplatform-preview-inner-4 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #d8f4ff;
  background-size: 117%;
  background-position: center -10px;
  background-repeat: no-repeat;
  
  /* 👇 animation */
  animation: changeBg4 8s steps(1) infinite; /* 7 images × 3s each = 21s */
}
}